@model IEnumerable<WWW_BaiTapLon.Models.DiemDanh>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@*<table class="table">
    <tr>
        <th>Sinh Vien ID</th>
        <th>LHP ID</th>
        <th>Trang Thai</th>
        <th>Ngay DD</th>
        <th>KQHT ID</th>
        <th>&nbsp</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SinhVienId</td>
            <td>@item.LopHocPhanId</td>
            <td>@item.trangthai</td>
            <td>@item.ngayDD</td>
            <td>@item.KqHTid</td>
        </tr>
    }
</table>*@
